body, html {
  height: 100%;
}

body {
  background-color: whitesmoke;
  font-family: Roboto, sans-serif;
  font-size: initial;
}
.zoomRippel{
  margin-left: 20px;
  color: #393b4b;
  margin-top: 7px;
  margin-right: 6px;
  margin-bottom: 4px;
}
.disabled{
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}
.malabiBG{
  background-color: #393b4b;
}
.resultImg {
  background-color: white;
  max-height: 200px;
  max-width: 200px;
}
.font14{
  font-size: 14px;
}
.modal {
  max-height: 100%;
  width: 80%;
  z-index: 3;
}
.roboto {
  font-family: Roboto, sans-serif;
  font-size: initial;
}
.material-tooltip {
  width: 180px;
}
.modal-footer{
  height: 82px !important;
}
#camera51-btn-save-image:hover {
  background-color: rgba(0,0,0,0.6);
  box-shadow: none;
}
a {
  cursor: pointer !important;
}
.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.save-option {
  height: 30px;
  margin: -10px -10px 5px -10px;
  padding: 5px;
}
.error-header-default{
  background-color: #0288d1;
  padding: 10px;
  color: white;
  font-size: 13px;
}
.error-header-image-failure{
  background-color: rgb(249, 168, 37);
  padding: 10px;
  color: white;
  font-size: 13px;
}
.camera51-error-text{
  padding: 10px;
  font-size: 12px;
  text-align: initial;
  background-color: white;
}
div#dropZone {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  visibility: hidden;
}
.droptarget {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;

  top: 0;
  background-color: rgba(255, 255, 255, .85);
}
.dropImagePopup {
  border-radius: 15px;
  border-width: 4px;
  border-style: dashed;
  background-color: #fff;
  color: #1C6EB5;
  background: none;
  border-color: #1C6EB5;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 20px;
}

#dropbox{
	/*min-height: 230px;*/
	overflow: hidden;
	position: relative;
	background: none repeat scroll 0 0 #F7F7F7;
    border-radius: 8px;
    box-shadow: 0 0 10px #C0C0C0 inset;
    text-align: center;
    text-shadow: 1px 1px 1px #D7D7D7, 1px 1px 1px rgba(0, 0, 0, 0.7);
    transition: all 0.5s linear 0s;
	z-index: 2;
	border:1px solid #fff;
	margin-bottom: 20px;
}


.eachImage {
  float: left;
  margin: 10px;
  position: relative;
  /*width: 205px;*/
  text-align: center;
	z-index: 10;
  height: 500px;
  width: 210px;
  padding: 10px;
}
.preview{
    display: inline-block;
    position: relative;
    height: 200px;
}
.preview img{
  box-shadow:0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

    display: block;
    max-height: 200px;
    max-width: 180px;

}
.overlay{
  background: rgba(255, 255, 255, 0.5);
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.overlay span{
	position: absolute;
	top: 35%;
	color: black;
	font-weight: bold;
}
.overlay .updone{
	position: relative;
  text-align: right;
  text-shadow: 1px 1px 1px #D7D7D7, 1px 1px 1px rgba(0, 0, 0, 0.7);
  transition: all 0.5s linear 0s;
	font-size: 25px;
	text-align: right;
}
.resultPreview{
  height: 200px;
  display: inline-block;
}
.progress{
	height: 8px;  /* Can be anything */
	position: relative;
	background: #fff;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	-moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
	box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
}
.progress span{
	border: 1px solid #555;
	width: 0px;
	display: block;
	margin-top: 10px;
	text-align: right;
	height: 6px;
	   -webkit-border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	       -moz-border-radius-topright: 20px;
	    -moz-border-radius-bottomright: 20px;
	           border-top-right-radius: 20px;
	        border-bottom-right-radius: 20px;
	    -webkit-border-top-left-radius: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px;
	background-color: rgb(43,194,83);
	background-image: -webkit-gradient(
	  linear,
	  left bottom,
	  left top,
	  color-stop(0, rgb(43,194,83)),
	  color-stop(1, rgb(84,240,84))
	 );
	background-image: -webkit-linear-gradient(
	  center bottom,
	  rgb(43,194,83) 37%,
	  rgb(84,240,84) 69%
	 );
	background-image: -moz-linear-gradient(
	  center bottom,
	  rgb(43,194,83) 37%,
	  rgb(84,240,84) 69%
	 );
	background-image: -ms-linear-gradient(
	  center bottom,
	  rgb(43,194,83) 37%,
	  rgb(84,240,84) 69%
	 );
	background-image: -o-linear-gradient(
	  center bottom,
	  rgb(43,194,83) 37%,
	  rgb(84,240,84) 69%
	 );
	-webkit-box-shadow:
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	-moz-box-shadow:
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	position: relative;
	overflow: hidden;
}
