
    .custom-modal-header {
        background: #fe7011;
    }
    .saveimage{
      background-color: #fe7011 !important;
      border-color: #fe7011 !important;
    }
    .viewResult {
      border-color: #fe7011 !important;
      color: #fe7011 !important;

    }
